/* Add custom styles here */
body {
    background-color: rgb(146, 172, 120);
}

.header {
    background-color: rgb(146, 172, 120);;
}
#hero {
    height: 100vh;
    background: url('hero-bg.jpg') center/cover no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 3.5rem;
   
}
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


.navbar-brand {
    font-size: 4rem;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 2%;

}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    b
}

.card {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 6rem;
    }
}

/* CSS for animations and transitions */

/* Example: Fade-in effect */
.fade-in {
    opacity: 0;
    animation: fadeInAnimation ease 1s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

